body {
    background-color:beige;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    color:darkred;
    font-family: 70px;
}
h2 {
    color:crimson;
}
p{
    color:brown;
}
dl {
    color:brown;
}